@import "../../globals/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.logo {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  height: 45px;
}

.image_container {
  position: relative;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
}

.image_container,
.header_container {
  display: inline-block;
}

.header_container {
  position: absolute;
  vertical-align: top;
  margin-left: 10px;
  width: 175px;
  height: 45px;
  line-height: 45px;
}

.header {
  color: $red;
  font-size: 24px;
  line-height: 45px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Yellowtail", cursive;
  transition: 0.2s;
}
