@import "../../globals/variables.scss";

.logo {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.link {
  text-decoration: none;
  height: 45px;
}

.image_container {
  position: relative;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.image {
  height: 35px;
  width: 35px;
}

.image_container,
.header_container {
  display: inline-block;
}

.header_container {
  position: absolute;
  vertical-align: top;
  margin-left: 10px;
  width: 185px;
  height: 45px;
  line-height: 45px;
}

.header {
  color: $gold;
  font-size: 26px;
  line-height: 45px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: underline 1px $graphite;
  @include standard_font;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .header_container {
    position: absolute;
    display: none;
    vertical-align: top;
    margin-left: 10px;
    width: 175px;
    height: 45px;
    line-height: 45px;
  }
}
