@import "../../../../../globals/variables.scss";

.quadratic {
  position: relative;
  margin-top: 75px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  color: $black;
}

.header {
  position: relative;
  text-align: center;
}

.subheader {
  font-size: 18px;
  line-height: 165%;
  font-weight: normal;
}
