@import "../../../globals/variables.scss";

.question {
  display: inline-block;
}

.function {
  margin-left: 5px;
  display: inline-block;
}

.answer {
  display: inline-block;
  margin-left: 10px;
}

.answer_input {
  font-size: 14px;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid grey;
}
