@import "../../globals/variables.scss";

.precalc {
  position: relative;
  width: 50%;
  min-width: 500px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  text-align: center;
  @include header;
}

.subheader {
  @include subheader;
  font-size: 18px;
  text-align: center;
}

.all_materials {
  font-size: 20px;
  color: $blue;
}
.link_flair {
  text-align: center;
  font-weight: normal;
}

.link {
  cursor: pointer;
  color: $blue;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}
