@import "../../globals/variables.scss";

.phone {
  color: $dark_graphite;
  display: block;
  margin-top: 25px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.image_link_tie {
  display: inline-block;
}

.link {
  color: $blue;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

.image_block {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
}

.image {
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .phone {
    width: 100%;
  }

  .image_block {
    display: inline-block;
    width: 25px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .image {
    width: 100%;
  }
}
