@import "../../globals/variables.scss";

.phone {
  font-size: 18px;
  color: $dark_graphite;
}

.link {
  color: $blue;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

.image_block {
  display: inline-block;
  width: 35px;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .phone {
    font-size: 14px;
    color: $dark_graphite;
    margin-bottom: 15px;
  }

  .image_block {
    display: inline-block;
    width: 25px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .image {
    width: 100%;
  }
}
