@import "../../globals/variables.scss";

.full_course_list {
  position: relative;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  color: $graphite;
  font-size: 26px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .header {
    color: $graphite;
    font-size: 22px;
    text-align: center;
  }
  .full_course_list {
    position: relative;
    width: 100%;
    min-width: auto;
    @include general_font;
  }
}
