@import "../../globals/variables.scss";

.faq_container {
  position: relative;
  margin-top: 75px;
  min-height: 100%;
}

.faq {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

@media only screen and (max-width: 900px) {
  .faq {
    width: 95%;
  }
}
