@import "../../globals/variables.scss";

.app_page {
  width: 65%;
  min-width: 500px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.title_header {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .app_page {
    width: 95%;
    min-width: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
