@import "../../globals/variables.scss";

.app_page {
  @include general_font;
}

.title_header {
  position: relative;
  width: 100%;
}

.bottom_container {
  position: relative;
  display: block;
  height: 75px;
}
