@import "../../globals/variables.scss";

.app_page {
  width: 65%;
  margin-top: 75px;
  min-width: 500px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 900px) {
  .app_page {
    width: 95%;
    margin-top: 75px;
    min-width: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
