@import "../globals/variables.scss";

.pricing {
  margin-top: 50px;
}

.header {
  color: $black;
}

.flair {
  color: $saffron;
}

.text {
  color: $black;
  line-height: 165%;
  font-size: 18px;
}
