@import "../../globals/variables.scss";

.at_a_glance {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 65%;
  min-height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $off_white;
}

.link {
  text-decoration: none;
  font-size: 18px;
  line-height: 165%;
  color: $blue;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

.list_container {
  color: $dark_graphite;
  line-height: 165%;
  font-size: 18px;
}

.list_item {
  display: block;
  margin-top: 15px;
  width: 100%;
}

.image_block {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  max-width: 50px;
  margin-right: 5px;
  overflow: hidden;
}

.image {
  width: 100%;
}

.list_descript {
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  margin-left: 5px;
  vertical-align: top;
}

.centering {
  font-size: 20px;
}

.header {
  @include header;
}

.subheader {
  color: $dark_graphite;
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }

  .link {
    text-decoration: none;
    font-size: 16px;
    line-height: 165%;
    color: $blue;
    transition: 0.2s;
  }

  .link:hover {
    color: $blue;
    transition: 0.2s;
  }
}
