@import "../../globals/variables.scss";

.at_a_glance {
  margin-top: 50px;
}

.header {
  @include header;
}

.subheader {
  color: $dark_graphite;
  font-size: 16px;
}

.text {
  color: $dark_graphite;
  line-height: 165%;
  font-size: 18px;
}

.image_block {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.image {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }
}
