@import "../../../../../globals/variables.scss";

.trig_identities {
  position: relative;
  width: 65%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  color: $graphite;
  text-align: center;
}

.subheader {
  color: $graphite;
  font-size: 18px;
  margin-bottom: 50px;
}

.div_header {
  color: $graphite;
}

.unit_container {
  position: relative;
  width: 50%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.bottom_container {
  margin-bottom: 75px;
}

@media only screen and (max-width: 900px) {
  .trig_identities {
    width: 95%;
  }

  .header {
    color: $graphite;
    text-align: center;
    font-size: 20px;
  }

  .subheader {
    color: $graphite;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .unit_container {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .div_header {
    color: $graphite;
    text-align: center;
  }

  .header {
    font-size: 20px;
  }
}
