@import "../globals/variables.scss";

.formatting {
  position: relative;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  margin-top: 75px;
  text-align: center;
}

.subheader {
  position: relative;
  color: $dark_graphite;
  font-weight: normal;
  line-height: 165%;
}

.bottom {
  margin-bottom: 75px;
}
