@import "../../globals/variables.scss";

.contact_form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  font-size: 24px;
  color: $graphite;
}

.email_input {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 18px;
  border: 1px solid $graphite;
  border-radius: 3px;
  @include general_font;
}

.textbox {
  position: relative;
  display: block;
  margin-top: 15px;
  width: 450px;
  left: 75px;
  height: 200px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid $graphite;
  border-radius: 3px;
  box-sizing: border-box;
  @include general_font;
}

.button {
  @include button;
  margin-left: 75px;
}

.button:hover {
  @include hover;
}

@media only screen and (max-width: 900px) {
  .contact_form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    text-align: center;
    font-size: 20px;
    color: $graphite;
  }

  .email_input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 16px;
    border: 1px solid $graphite;
    border-radius: 3px;
    @include general_font;
  }

  .textbox {
    position: relative;
    display: block;
    margin-top: 15px;
    width: 100%;
    left: 0;
    height: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid $graphite;
    border-radius: 3px;
    box-sizing: border-box;
    @include general_font;
  }

  .button {
    @include button;
    margin-left: auto;
    margin-right: auto;
  }

  .button:hover {
    @include hover;
  }
}
