@import "../../globals/variables.scss";

.contact_form {
  font-size: 18px;
  color: $dark_graphite;
}

.text {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
}

.link {
  color: $blue;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

.image_block {
  display: inline-block;
  width: 35px;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  width: 100%;
}
