@import "../../globals/variables.scss";

.payment_options {
  margin-top: 50px;
}

.header {
  @include subheader;
  display: inline-block;
  margin-left: 10px;
  width: 85%;
  box-sizing: border-box;
  margin-left: 10px;
}

.upper {
  cursor: pointer;
}

.text {
  line-height: 165%;
  font-size: 18px;
}

.payment_info_block {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image_block {
  position: relative;
  display: inline-block;
  width: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  width: 100%;
}

.text_container {
  display: inline-block;
  width: 80%;
  line-height: 165%;
  font-size: 18px;
  margin-left: 15px;
  vertical-align: top;
}

.dropdown_icon {
  display: inline-block;
  width: 35px;
  box-sizing: border-box;
}

.icon {
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}

.dropdown {
  overflow: hidden;
  transition: 0.3s;
}

@media only screen and (max-width: 900px) {
  .header {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-left: 0;
  }

  .text {
    line-height: 165%;
    font-size: 16px;
  }

  .text_container {
    display: inline-block;
    line-height: 165%;
    font-size: 16px;
    width: 85%;
    margin-left: auto;
    box-sizing: border-box;
  }

  .image_block {
    position: relative;
    display: inline-block;
    width: 15%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .image {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}
