@import "../../globals/variables.scss";

.blog {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  color: $dark_graphite;
  text-decoration: none;
  height: 45px;
  vertical-align: top;
  line-height: 45px;
  transition: 0.2s;
}

.blog:hover {
  color: $gold;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .blog {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
  }
}
