@import "../../../globals/variables.scss";

.families_in_lockdown_container {
  min-height: 100%;
  position: relative;
  margin-top: 75px;
}

.families_in_lockdown {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  color: $graphite;
  text-align: center;
  font-size: 26px;
}

.subheader {
  color: $graphite;
  text-align: center;
  font-size: 18px;
}

.published_date {
  text-align: center;
  font-size: 14px;
  color: $blue;
}

.link {
  text-decoration: none;
  color: $blue;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

.image_block {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 100%;
}

.text {
  color: $graphite;
  font-size: 18px;
  line-height: 165%;
}

.bottom {
  margin-bottom: 75px;
}

@media only screen and (max-width: 900px) {
  .families_in_lockdown_container {
    min-height: 100%;
    position: relative;
    margin-top: 75px;
  }

  .families_in_lockdown {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    @include general_font;
  }

  .header {
    color: $graphite;
    text-align: center;
    font-size: 22px;
  }

  .subheader {
    color: $graphite;
    text-align: center;
    font-size: 16px;
  }

  .published_date {
    text-align: center;
    font-size: 14px;
    color: $blue;
  }

  .text {
    color: $graphite;
    font-size: 16px;
    line-height: 165%;
  }

  .image_block {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    width: 100%;
  }
}
