@import "../../globals/variables.scss";

.about_me {
  position: relative;
  margin-top: 75px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  @include header;
  text-align: center;
}

.text {
  color: $dark_graphite;
  line-height: 165%;
  font-size: 18px;
}

.image_block {
  position: relative;
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.image_block:hover .image {
  box-shadow: 0px 2px 4px #888888;
  transition: 0.2s;
}

.image {
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
  overflow: hidden;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }
}
