@import "../../globals/variables.scss";

.course_materials {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}

.header {
  color: $blue;
  text-decoration: underline;
  text-align: center;
}
