@import "../../globals/variables.scss";

.contact_container {
  margin-top: 75px;
}

.contact {
  width: 65%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  text-align: center;
  @include header;
}

.subheader {
  font-weight: normal;
  font-size: 18px;
  line-height: 165%;
  color: $dark_graphite;
}

.link {
  color: $blue;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .contact {
    position: relative;
    margin-top: 75px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    @include general_font;
  }

  .header {
    text-align: center;
    @include header_mobile;
  }

  .subheader {
    font-weight: normal;
    font-size: 14px;
    line-height: 165%;
    color: $dark_graphite;
  }
}
