@import "../../globals/variables.scss";

.materials_nav {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  color: $black;
  text-decoration: none;
  transition: 0.2s;
}

.materials_nav:hover {
  color: $red;
  transition: 0.2s;
}
