@import "../../globals/variables.scss";

.link_element {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid $graphite;
  cursor: pointer;
}

.image_block {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  width: 100%;
}

.text_block {
  display: inline-block;
  width: 70%;
  padding-left: 10px;
  box-sizing: border-box;
  vertical-align: top;
  @include noselect;
}
