@import "../../globals/variables.scss";

.header {
  text-align: center;
  @include header;
}

.subheader {
  text-align: center;
  color: $dark_graphite;
  font-size: 18px;
}

.link {
  color: $blue;
  text-decoration: none;
}

.link:hover {
  color: $gold;
}

@media only screen and (max-width: 900px) {
  .header {
    text-align: center;
    @include header_mobile;
  }

  .subheader {
    text-align: center;
    @include subheader_mobile;
  }
}
