@import "../../globals/variables.scss";

.blog_container {
  min-height: 100%;
  position: relative;
  margin-top: 75px;
}

.blog {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

.header {
  color: $graphite;
  text-align: center;
}
