@import "../globals/variables.scss";

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $gold;
  height: 65px;
  @include general_font;
}

.center_block {
  position: relative;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.image_block {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.image {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.header_box {
  position: relative;
  width: 135px;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.link {
  color: $dark_graphite;
}
