@import "../../globals/variables.scss";

.subject_link {
  line-height: 0;
  margin-top: 10px;
}

.link {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.image_block {
  width: 35px;
  overflow: hidden;
  display: inline-block;
}

.image {
  width: 100%;
}

.subject_link:hover .text {
  color: $gold;
  transition: 0.15s;
}

.text {
  text-decoration: none;
  color: $graphite;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  margin-left: 10px;
  transition: 0.15s;
}
