@import "../../globals/variables.scss";

.introduction {
  margin-top: 50px;
}

.header {
  @include header;
}

.flair {
  color: $red;
}

.text {
  color: $black;
  font-size: 18px;
  line-height: 165%;
}
