@import "../../globals/variables.scss";

.view_all_materials {
  text-align: center;
  width: 200px;
  display: block;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  color: $blue;
  text-decoration: none;
  transition: 0.2s;
}

.view_all_materials:hover {
  color: $gold;
  transition: 0.2s;
}
