@import "../../globals/variables.scss";

.qualifications {
  margin-top: 50px;
}

.header {
  @include header;
}

.text {
  color: $dark_graphite;
  font-size: 18px;
  line-height: 165%;
}

@media only screen and (max-width: 900px) {
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }
}
