@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

$gold: #ffb300;
$graphite: #3c3b3b;
$dark_graphite: #292828;
$light_cream: #f7f7f1;
$pencil_shade: #fff8dc;
$blue: #0b2cc2;
$white: #fcfbf9;
$eraser: #f5a19d;

@mixin header {
  font-size: 28px;
  color: $graphite;
}

@mixin subheader {
  font-size: 22px;
  color: $graphite;
}

@mixin header_mobile {
  font-size: 20px;
  color: $graphite;
}

@mixin subheader_mobile {
  font-size: 18px;
  color: $graphite;
}

@mixin button {
  position: relative;
  width: auto;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: 18px;
  background-color: $gold;
  color: $dark_graphite;
  border-radius: 5px;
  border: 1px solid $gold;
  cursor: pointer;
  box-shadow: 0px 1px 2px #888888;
  transition: 0.2s;
}

@mixin hover {
  background-color: $eraser;
  border: 1px solid $eraser;
  box-shadow: 0px 2px 4px #888888;
  transition: 0.2s;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin standard_font {
  font-family: "Yellowtail", cursive;
}
