@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

$blue: #4d6cfa;
$red: #b23850;
$saffron: #ffb400;
$white: #fbf7f4;
$black: #2a2d34;
$backdrop: #fcfbf9;

@mixin header {
  font-size: 28px;
  color: $black;
}

@mixin subheader {
  font-size: 24px;
  color: $black;
}

@mixin header_mobile {
  font-size: 20px;
  color: $black;
}

@mixin subheader_mobile {
  font-size: 18px;
  color: $black;
}

@mixin button {
  position: relative;
  width: 100px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  font-size: 16px;
  background-color: $red;
  color: $white;
  border-radius: 5px;
  border: 1px solid $saffron;
  cursor: pointer;
  box-shadow: 0px 1px 2px #888888;
  transition: 0.2s;
}

@mixin hover {
  background-color: $saffron;
  color: $black;
  transition: 0.2s;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin standard_font {
  font-family: "Yellowtail", cursive;
}
