@import "../../globals/variables.scss";

.material_link {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.material_link:hover {
  box-shadow: 2px 2px 4px grey;
  transition: 0.2s;
}

.link,
.title {
  margin-left: 15px;
  display: inline-block;
  color: $black;
}
