@import "../../globals/variables.scss";

.material_link_container {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.material_link {
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
  color: $graphite;
  margin: 25px;
}

.image_block {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
}

.title {
  width: 100%;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}
