@import "../../globals/variables.scss";

.pricing {
  margin-top: 50px;
}

.header {
  @include header;
}

.link {
  color: $blue;
  text-decoration: none;
}

.link:hover {
  color: $red;
}

.text {
  color: $black;
  line-height: 165%;
  font-size: 18px;
}
