@import "../../globals/variables.scss";

.deal_container {
  margin-bottom: 50px;
  width: 85%;
  max-width: 800px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $off_white;
}

.deal {
  width: 85%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid $eraser;
  min-height: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.image_block {
  display: inline-block;
  width: 10%;
  box-sizing: border-box;
}

.image {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.text_block {
  display: inline-block;
  width: 70%;
  text-align: left;
  box-sizing: border-box;
  vertical-align: top;
}

.text {
  font-size: 1.2rem;
  color: $graphite;
}

.save_button {
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
  vertical-align: top;
}

.button {
  @include alt_button;
  float: right;
}

.button:hover {
  @include alt_hover;
}

@media only screen and (max-width: 900px) {
  .deal_container {
    margin-bottom: 50px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $off_white;
  }

  .deal {
    width: 100%;
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 0px;
    padding: 10px;
    background-color: #e3e2df;
    min-height: 100%;
    max-width: 800px;
  }

  .image_block {
    width: 40px;
    vertical-align: top;
  }

  .image {
    width: 100%;
    padding: 0;
  }

  .text_block {
    display: inline-block;
    height: 40px;
    width: auto;
    box-sizing: border-box;
  }

  .text {
    font-size: 1.1rem;
    line-height: 0px;
    padding-left: 5px;
    color: $graphite;
  }

  .save_button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: inherit;
  }

  .button {
    @include alt_button;
    float: none;
    margin-bottom: 15px;
  }

  .button:hover {
    @include alt_hover;
  }
}
