@import "../../globals/variables.scss";

.schedule_container {
  position: relative;
  min-height: 100%;
  margin-top: 75px;
}

.schedule {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @include general_font;
}

@media only screen and (max-width: 900px) {
  .schedule {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    @include general_font;
  }
}
