@import "../../../../../globals/variables.scss";

.lhopitals {
  position: relative;
  margin-top: 75px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  color: $graphite;
  @include general_font;
}

.header {
  position: relative;
  text-align: center;
}

.subheader {
  font-size: 18px;
  line-height: 165%;
  font-weight: normal;
}

.text {
  line-height: 165%;
}

.problem_flair {
  font-weight: bold;
}

.bottom {
  margin-bottom: 150px;
}
