@import "../../globals/variables.scss";

.arithmetic {
  position: relative;
  width: 50%;
  min-width: 500px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  @include header;
}

.subheader {
  @include subheader;
  font-size: 18px;
  text-align: center;
}

.all_materials {
  font-size: 20px;
  color: $blue;
}

.flair {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
  color: $graphite;
}
