@import "../../../../globals/variables.scss";

.daily_post {
  position: relative;
  margin-top: 75px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  color: $graphite;
}

.header {
  font-size: 26px;
}

.subheader {
  font-size: 18px;
  color: $blue;
  opacity: 0.75;
}

.video_block {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75%;
}

.text {
  line-height: 165%;
  font-size: 18px;
}

.problem {
  border-bottom: 1px solid $gold;
  margin-bottom: 50px;
}

.problem_header {
  font-size: 20px;
}

.bottom_div {
  margin-bottom: 75px;
}

.images_block {
  display: block;
}

.image_container {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 25%;
  box-sizing: border-box;
}

.image {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .daily_post {
    width: 95%;
  }

  .header {
    font-size: 20px;
  }

  .image_container {
    display: block;
    vertical-align: top;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .image {
    width: 100%;
  }

  .subheader {
    font-size: 16px;
  }

  .problem_header {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .video_block {
    width: 100%;
  }
}
