@import "../../globals/variables.scss";

.title_card {
  margin-top: 50px;
}

.left_block,
.right_block {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.header {
  color: $dark_graphite;
  margin: 0;
}

.name {
  color: $dark_graphite;
  font-size: 20px;
}

.text_container {
  width: 204.45px;
  margin-left: 15px;
  vertical-align: top;
  display: table-cell;
}

.image_block {
  width: 204.45px;
  height: 150px;
  float: right;
  margin-right: 15px;
  display: block;
  border-radius: 5px;
  border: 1px solid grey;
}

.image {
  width: 204.45px;
  height: 150px;
}

.subscript {
  color: $dark_graphite;
  font-size: 16px;
  margin: 0;
  line-height: 150%;
  font-weight: normal;
}

.tutor_flair,
.developer_flair,
.climber_flair,
.learner_flair {
  color: $dark_graphite;
}

@media only screen and (max-width: 900px) {
  .title_card {
    margin-top: 50px;
  }

  .left_block,
  .right_block {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  .image_block {
    width: 204.45px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid grey;
  }

  .header {
    color: $dark_graphite;
    width: 100%;
  }

  .name {
    color: $dark_graphite;
    font-size: 20px;
    text-align: center;
    display: block;
  }

  .text_container {
    width: 100%;
    vertical-align: top;
    display: table-cell;
  }

  .header {
    font-size: 18px;
  }

  .subscript {
    font-size: 16px;
  }
}
