@import "../../globals/variables.scss";

.our_team {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 65%;
  min-height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $off_white;
  cursor: pointer;
}

.header {
  @include header;
}

.left_block {
  width: 35%;
}

.underbar {
  opacity: 0.75;
}

.clock_image_container {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  overflow: hidden;
}

.clock_image {
  width: 100%;
}

.responds {
  display: inline-block;
  line-height: 25px;
  margin-left: 5px;
  vertical-align: middle;
}

.right_block {
  width: 65%;
  vertical-align: top;
  padding-left: 10px;
}

.left_block,
.right_block {
  display: inline-block;
  box-sizing: border-box;
}

.name {
  color: $dark_graphite;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.text_container {
  width: 75%;
  vertical-align: top;
  display: table-cell;
}

.image_block {
  width: 100%;
  float: right;
  display: block;
  padding-right: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.image {
  width: 100%;
  border-radius: 10px;
  border: 1px solid $graphite;
}

.subscript {
  color: $dark_graphite;
  font-size: 16px;
  margin: 0;
  line-height: 150%;
  font-weight: normal;
}

.tutor_flair,
.developer_flair,
.climber_flair,
.learner_flair {
  color: $dark_graphite;
}

.profile_button {
  display: block;
  padding-right: 15px;
}

.button {
  @include alt_button;
  width: 100%;
  box-sizing: border-box;
}

.button:hover {
  @include alt_hover;
}

@media only screen and (max-width: 900px) {
  .our_team {
    width: 95%;
  }

  .button {
    display: none;
  }

  .title_card {
    margin-top: 50px;
  }

  .header {
    @include header_mobile;
  }

  .right_block {
    padding-left: 0px;
  }

  .left_block,
  .right_block {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  .image_block {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 0;
    display: block;
    border-radius: 5px;
  }

  .header {
    color: $dark_graphite;
    width: 100%;
  }

  .name {
    color: $dark_graphite;
    text-align: center;
    display: block;
    margin: 0;
  }

  .text_container {
    width: 100%;
    vertical-align: top;
    display: table-cell;
  }

  .header {
    font-size: 18px;
  }

  .subscript {
    font-size: 16px;
  }
}
