@import "../../globals/variables.scss";

.email {
  font-size: 18px;
  color: $dark_graphite;
  margin-bottom: 15px;
}

.link {
  color: $blue;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}
