@import "../../globals/variables.scss";

.subjects {
  margin-top: 50px;
  padding-bottom: 25px;
  width: 95%;
  min-height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $off_white;
}

.header {
  @include header;
}

.text {
  color: $dark_graphite;
  line-height: 165%;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: $blue;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .subjects {
    width: 95%;
  }
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }
}
