@import "../../globals/variables.scss";

.subjects {
  margin-top: 50px;
}

.header {
  @include header;
}

.text {
  color: $dark_graphite;
  line-height: 165%;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: $blue;
  transition: 0.2s;
}

.link:hover {
  color: $gold;
  transition: 0.2s;
}

@media only screen and (max-width: 900px) {
  .header {
    @include header_mobile;
  }

  .text {
    font-size: 16px;
  }
}
